<%= render 'events/account' %>
<br>
<h1><%= @user.email %>'s Profile</h1>
<h2>Created Events:</h2>

<% @user.created_events.each do |event| %>
  <%= render event %> <br>
<% end %>
<br>
<h2>Event Attendance</h2>
<h3>Upcoming Events to Attend:</h3>
<ul>
  <% @user.attended_events.where(date: (Time.now)..).order(:date).each do |event| %>
      <li><%= event.location %> | Date: <%= event.date.strftime("%m/%d/%Y")%></li>
  <% end %>
</ul>
<br>
<h3>Past Events Attended:</h3>
<ul>
  <% @user.attended_events.where(date: ..(Time.now)).order(:date).each do |event| %>
      <li><%= event.location %> | Date: <%= event.date.strftime("%m/%d/%Y")%></li>
  <% end %>
</ul>