<%= render 'events/account' %>
<br>
<h1><%= @user.email %>'s Profile</h1>
<h2>Created Events:</h2>

<% @user.created_events.each do |event| %>
  <%= render event %> <br>
<% end %>
<br>
<h2>Attended Events:</h2>
<ul>
  <% @user.attended_events.order(:date).each do |event| %>
    <li><%= event.location %> | Date: <%= event.date.strftime("%m/%d/%Y")%></li>
  <% end %>
</ul>