<% if user_signed_in? %>
  <div>Currently Signed in as: <%= link_to current_user.email, user_path(current_user) %></div>
  <div>    
    <%= link_to "Create New Event", new_event_path %> | 
    <%= link_to "Sign Out", destroy_user_session_url %>
  </div>
<% else %>
  <div> <%= link_to "Sign In", new_user_session_path %> | 
  <%= link_to "Sign Up", new_user_registration_path %></div>
<% end %>