<%= render 'account' %><br>

<div><%= link_to "View All Events", events_path %></div><br>

<div id="events">
  <div>
    <h1>
      Event Location: <%= @event.location %>
    </h1>
    <p>
      <strong>Event Organizer:</strong>
      <%= @event.creator.email %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @event.date.strftime("%m/%d/%Y") %>
    </p>
  </div>

  <% if user_signed_in? %>
    <% if current_user.attended_events.include?(@event) %>
      <div><%= render 'unattend' %></div>
    <% else %>
      <div><%= render 'attend' %></div>
    <% end %>
  <% else %>
    <p><%= button_to 'Login', new_user_session_path %> to let us know you're attending.</p>
  <% end %>
</div>

<h2>Guest List</h2>
<% if @event.attendees.any? %>
  <div><%= pluralize(@event.attendees.count, "attendee") %>:</div>
  <ul>
    <% @event.attendees.order(:email).each do |attendee| %>
      <li><%= attendee.email %></li>
    <% end %>
  </ul>
<% else %>
  <p> This event currently has no one registered to attend. </p>
<% end %>
