<%= render 'account' %>
<br>
<div><%= link_to "View All Events", events_path %></div>
<br>

<div id="events">
  <div>
    <h1>
      Event Location: <%= @event.location %>
    </h1>
    <p>
      <strong>Event Organizer:</strong>
      <%= @event.creator.email %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @event.date.strftime("%m/%d/%Y") %>
    </p>
  </div>
    <%# Give users a button that when clicked, it registers them to attend
      Rules:
      1. Only logged in users can attend
      2. Need to prevent duplicate (user + event) entries. Use logic to show different buttons Attend & 
  %>
  <% if user_signed_in? %>
    <% if current_user.attended_events.include?(@event) %>
      <div><%= render 'unattend' %></div>
    <% else %>
      <div><%= render 'attend' %></div>
    <% end %>
  <% else %>
    <p>Let us know you're attending by <%= link_to 'logging in', new_user_session_path %>.</p>
  <% end %>
</div>

<h2>Guest List</h2>
<div><%= @event.attendees.count %> people are on the guest list:</div>
<% if @event.attendees.any? %>
  <ul>
    <% @event.attendees.order(:email).each do |attendee| %>
      <li><%= attendee.email %></li>
    <% end %>
  </ul>
<% else %>
  <p> No one has </p>
<% end %>
